{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <h1 class="centered">Settings</h1>
    <hr>

    <div class="d-md-flex justify-content-center">
        <button type="button" class="btn btn-primary margin-space" data-bs-toggle="modal" data-bs-target="#changePassword" data-bs-whatever="@mdo">Change password</button>
    </div>
    <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/settings" method="post">
                        <div class="mb-3">
                            <input class="form-control mx-auto w-auto" id="password" name="old_password" placeholder="Old password" type="password" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New password" type="password" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control mx-auto w-auto" id="password" name="password_check" placeholder="New password (again)" type="password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
