{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table>
        <thead class="bordered">
            <tr>
                <th>Stock</th>
                <th>Action</th>
                <th>Size</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for e in history %}
                <tr>
                    <td>{{ e["stock"] }}</td>
                    <td>{{ e["action"] }}</td>
                    <td>{{ e["size"] }}</td>
                    <td>{{ e["cost"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
